body {
    font-family: Arial, sans-serif;
    background-color: #1ae374;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    margin-top: 600px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
.container img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin at the bottom */
    max-width: 100%; /* Make sure the image is responsive */
    height: auto;
}
.containers {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
.containers img {
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin at the bottom */
    max-width: 100%; /* Make sure the image is responsive */
    height: auto;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #28a745;
}
.button-group {
    text-align: center;
    margin-bottom: 20px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}
button:hover {
    background-color: #0056b3;
}
.menu div {
    margin-bottom: 10px;
}
.calculate-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
}
.calculate-button:hover {
    background-color: #218838;
}
.summary {
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
.hidden {
    display: none;
}
.print-button {
    margin-top: 10px;
    background-color: #6c757d;
}
.print-button:hover {
    background-color: #5a6268;
}
button.calculate-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
table.therapy-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table.therapy-table th,
table.therapy-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table.therapy-table th {
    background-color: #f2f2f2;
}
table.therapy-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
